@model List<EShop.ViewModels.Sliders.ShowSliderInFrontViewModel>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"
                    @(i == 0 ? "class=active" : "") aria-current="true" aria-label="Slide @(i + 1)"></button>
        }
    </div>
    <div class="carousel-inner">
        @{
            var counter = 1;
        }
        @foreach (var slider in Model)
        {
            <a
                asp-controller="Product" asp-action="Details" asp-route-id="@slider.ProductId" asp-route-title="@slider.ProductTitle"
                class="carousel-item@(counter++ == 1 ? " active" : "")">
                <img src="/images/sliders/@slider.Image" class="d-block w-100" alt="@slider.ProductTitle" height="400">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@slider.FirstTitle</h5>
                    <p>@slider.SecondTitle</p>
                </div>
            </a>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>